/** Tablet **************************/

@media (max-width: 1199px) {
  .container {
    width: 900px;
  }

  /* Header */
  .header-content {
    width: 900px;
    padding: 0 15px;
  }

  .header-top {
    width: 100%;
    padding: 0 15px;
  }

  .header-nav {
    display: none;
  }

  .header-nav-btn {
    display: block;
  }

  .header-nav-list {
    display: none;
  }

  .header-title {
    font-size: 52px;
  }
  .header-scroll {
    font-size: 0px;
  }

  .header {
    height: 591px;
  }

  /* Мобильная навигация */
  .nav-icon {
    display: flex !important;
  }

  /* Main */
  .main {
    padding: 80px 0;
  }

  .main-row {
    margin-bottom: 80px;
  }

  .main-content {
    width: 420px;
  }

  .main-header {
    font-size: 50px;
    line-height: 1;
  }

  .main-content-text {
    margin-bottom: 20px;
    font-size: 18px;
  }

  .main-img {
    width: 420px;
  }

  /* Inner */

  .inner-page {
    padding-bottom: 60px;
  }

  .inner-page.contact {
    padding-top: 40px;
  }

  .inner-page.trekking {
    padding-top: 40px;
  }

  .inner-page-tours-header {
    margin-bottom: 40px;
  }

  /* Aticle */

  .article-page-article {
    width: 570px;
  }

  .article-page-article h1 {
    font-size: 50px;
  }

  .article-page-nav-list {
    font-size: 18px;
  }

  .article-page-article p {
    font-size: 18px;
  }

  /* Contact */

  .contact-row {
    flex-direction: column;
  }

  .contact-info {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 40px;
  }

  .contact-block + .contact-block {
    margin-top: 0;
  }

  .contact-block-title {
    font-size: 24px;
    margin-bottom: 25px;
  }

  .contact-list {
    font-size: 18px;
  }

  .form {
    width: 100%;
  }

  /* Map */

  .map {
    width: 420px;
  }

  /* Footer */
  .footer {
    padding: 50px 0;
  }

  .footer-info-services {
    display: none;
  }

  .footer-logo {
    margin-bottom: 20px;
    font-size: 30px;
  }
  .footer-logo .logo {
    font-size: 30px;
  }
  .footer-info-data {
    width: 190px;
  }

  .footer-copyright {
    width: 195px;
  }

  .footer-copyright p {
    font-size: 14px;
  }

  /* Card */

  .card {
    width: 420px;
  }

  .card-title-wrapper {
    height: 60px;
  }

  .card-title-tours {
    font-size: 24px;
  }

  .card.bigger {
    width: 495px;
  }

  .card.small {
    width: 345px;
  }

  .card-column {
    row-gap: 30px;
  }
}

/** Mobile ***************************/

@media (max-width: 899px) {
  .container {
    width: 100%;
  }

  /* Header */
  .header-top {
    width: 100%;
  }

  .logo {
    font-size: 30px;
  }

  .header-content {
    width: 100%;
  }

  .header-title {
    font-size: 42px;
    line-height: 1;
  }

  .header-content p {
    font-size: 20px;
  }

  .main {
    padding: 60px 0;
  }

  /* Main */
  .main {
    padding: 60px 0;
  }

  .main-row {
    flex-direction: row-reverse;
    margin-bottom: 60px;
  }

  .main-row:nth-child(even) {
    flex-direction: row-reverse;
  }

  .main-img {
    flex-shrink: 0;
    width: 170px;
    margin-right: 30px;
  }

  .main-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .main-content {
    width: auto;
  }

  .main-header {
    font-size: 42px;
  }

  .main-content-text {
    font-size: 16px;
  }

  .btn {
    padding: 12px 30px;
    font-size: 18px;
  }

  /* Inner */

  .header-inner {
    height: 80px;
  }

  .inner-page {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .inner-page.trekking {
    padding-top: 20px;
    padding-bottom: 60px;
  }

  /* Aticle */

  .row-article-page {
    flex-direction: column-reverse;
    align-items: center;
  }

  .article-page-nav {
    padding-top: 0;
    width: 100%;
  }

  .article-page-nav-title {
    font-size: 28px;
    margin-bottom: 30px;
  }

  .article-page-article {
    width: 570px;
    padding-bottom: 40px;
  }

  .article-page-article h1 {
    font-size: 42px;
    margin-bottom: 20px;
  }

  .article-page-nav-list {
    font-size: 18px;
  }

  .article-page-article p {
    font-size: 18px;
  }

  /* Contact */

  .contact-info {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    row-gap: 40px;
    width: 100%;
    margin-bottom: 40px;
  }

  .form {
    padding: 30px;
  }

  .map {
    width: 570px;
  }

  /* Footer */
  .footer {
    padding: 40px 0;
  }

  .footer-row {
    flex-wrap: wrap;
  }

  .footer-copyright {
    order: 1;
    width: auto;
  }

  .footer-info-wrapper {
    width: 100%;
    margin-bottom: 50px;
    padding-top: 0;
  }

  /* Card */

  .card {
    width: 570px;
  }

  .cards-row {
    flex-direction: column;
    row-gap: 30px;
    align-items: center;
  }

  .card-title-wrapper {
    height: 60px;
  }

  .card-title-tours {
    font-size: 24px;
  }

  .card.bigger {
    width: 570px;
  }

  .card.small {
    width: 570px;
  }
}

/** Mobile XS ************************/

@media (max-width: 599px) {
  .container {
    width: 320px;
  }

  /* Header */
  .header-top,
  .header-content {
    width: 100%;
  }

  .logo {
    font-size: 30px;
  }

  .header-title {
    margin-bottom: 10px;
    font-size: 32px;
  }

  .header-content p {
    font-size: 18px;
  }

  .main {
    padding: 40px 0;
  }

  /* Main */
  .main {
    padding: 40px 0;
  }

  .main .container {
    width: auto;
  }

  .main-row {
    flex-direction: column-reverse;
    margin-bottom: 40px;
  }

  .main-content {
    width: auto;
  }

  .main-row:nth-child(even) {
    flex-direction: column-reverse;
  }

  .main-header {
    font-size: 28px;
  }

  .main-content-text {
    font-size: 16px;
  }

  .main-img {
    margin-bottom: 20px;
    width: auto;
    height: 150px;
  }

  /* Aticle */

  .article-page-article {
    width: 290px;
    padding-bottom: 30px;
  }

  .article-page-article h1 {
    font-size: 28px;
    margin-bottom: 10px;
  }

  .article-page-nav-title {
    font-size: 22px;
    margin-bottom: 20px;
  }

  .inner-page.trekking {
    padding-bottom: 40px;
  }

  /* Contact */

  .contact-info {
    row-gap: 30px;
    width: 100%;
    margin-bottom: 40px;
  }

  .contact-block-title {
    font-size: 20px;
  }

  .contact-list {
    font-size: 16px;
  }

  .form {
    padding: 15px;
  }

  .form-title {
    font-size: 24px;
  }

  .form-group-row {
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
  }

  .form-group-row > .input + .input {
    margin-left: 0;
}

  .map {
    width: 100%;
  }

  /* Footer */
  .footer {
    text-align: center;
  }

  .footer-row {
    flex-direction: column;
  }

  .footer-logo {
    margin-bottom: 10px;
  }

  .footer-info-wrapper {
    flex-direction: column;
    margin-bottom: 40px;
  }

  .footer-info-data {
    margin-bottom: 40px;
    width: 100%;
  }

  .footer-info-title {
    margin-bottom: 10px;
    font-size: 20px;
  }

  .footer-info-list {
    font-size: 16px;
  }

  .footer-info-list li {
    margin-bottom: 10px;
  }

  .footer-info-contacts .footer-info-list li {
    margin-bottom: 15px;
  }

  .footer-info-contacts .footer-info-list li:last-child {
    margin-bottom: 0px;
  }

  .footer-info-services {
    margin-bottom: 40px;
    display: block;
  }

  /* Card */

  .card {
    width: 290px;
  }

  .card-title-wrapper {
    height: 50px;
  }

  .cards-row {
    row-gap: 20px;
  }

  .card-title-tours {
    font-size: 20px;
  }

  .card.bigger {
    width: 290px;
  }

  .card.small {
    width: 290px;
  }
}
